[submodule "suite"]
	path = suite
	url = git@github.com:patrickjaja/suite.git
[submodule "vsf-theme"]
	path = vsf-theme
	url = https://github.com/patrickjaja/vsf-theme
[submodule "docker"]
	path = docker
	url = https://github.com/spryker/docker-sdk.git
